.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: .92;
  transition: opacity .4s ease;
}

.header__lang-link:hover {
  opacity: .7;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
  }
}
