.page {
  font-family: 'Inter', sans-serif;
  font-display: swap;
  font-size: 16px;
  background: #2A2C2F;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
