.photo-grid {
  max-width: calc(100% - 16px * 2);
  margin: 0 auto;
  padding: 0 0 64px;
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  gap: 12px 16px;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    max-width: calc(100% - 24px * 2);
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 0 0 88px;
  }
}
