.lead {
  margin: 0;
  padding: 0 0 64px;
}

@media screen and (min-width: 768px) {
  .lead {
    padding: 0 0 88px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    max-width: calc(100% - 148px * 2);
    margin: 0 auto;
    padding: 0 0 92px;
  }
}
