.header {
  margin: 0;
  padding: 16px 16px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 28px 24px 48px;
  }
}
