.lead__title {
  margin: 0 0 16px;
  padding: 0;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 1.04;
    margin: 0 auto 32px;
    /* max-width: 50%; */
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    max-width: 100%;
  }
}
