.place__paragraph {
  margin: 0 16px 26px;
  font-weight: 400;
  line-height: 1.6;
  max-width: 288px;
  white-space: pre-line;
  /* for pixel perfect */
}

.place__paragraph:last-child {
  margin: 0 16px 0;
}
