.intro {
  margin: 0 auto;
  padding: 0 0 64px;
  max-width: calc(100% - 16px * 2);
}

@media screen and (min-width: 768px) {
  .intro {
    max-width: calc(100% - 24px * 2);
    padding: 0 0 88px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    max-width: 70%;
    margin: 0 48px;
    padding: 0 0 96px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    margin: 0 148px;
    max-width: 55%;
  }
}
