.place {
  margin: 0 0 50px;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 32px 16px;
}

.place:last-child {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: minmax(340px, 1fr) minmax(352px, 1fr);
    /* grid-template-rows: auto; */
    gap: 48px 28px;
    max-width: calc(100% - 24px * 2);
    margin: 0 auto 73px;
  }

  .place:last-child {
    margin: 0 auto;
  }
}
