.place {
  margin: 0;
  padding: 0 0 50px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 32px 16px;
}

.place:last-child {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .place {
    max-width: calc(100% - 24px * 2);
    grid-template-columns: minmax(340px, 1fr) minmax(352px, 1fr);
    gap: 48px 28px;
    margin: 0 auto;
    padding: 0 0 74px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    max-width: calc(100% - 48px * 2);
    gap: 48px 32px;
    padding: 0 0 80px;
    grid-template-columns: minmax(440px, 1fr) minmax(456px, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .place {
    max-width: calc(100% - 148px * 2);
    grid-template-columns: minmax(460px, 1fr) minmax(484px, 1fr);
    gap: 48px 40px;
  }
}
